<footer class="footer py-5 mt-6">
  <div class="columns has-text-centered-mobile">
    <div class="column is-narrow">
      <ul class="footer_list">
        <li>
          <a href="/info/pay"
            >Как убрать рекламу<span class="icon is-size-7"
              ><i class="far fa-crown"></i
            ></span>
          </a>
        </li>
        <li>
          <a href="/info/faq">Ответы на частые вопросы</a>
        </li>
        <li>
          <a href="/info/howto">Краткие инструкции</a>
        </li>
      </ul>
    </div>
    <div class="column">
      <ul class="footer_list">
        <li>
          <a href="/info/special">Индивидуальные проекты</a>
        </li>
        <li>
          <a href="/payment_type-donate">Поддержать Рандомус</a>
        </li>
        <li>
          <a href="/info/about">О Рандомусе</a>
        </li>
      </ul>
    </div>
    <div class="column is-narrow pt-0">
      <div class="likely mb-1">
        <div class="vkontakte">Поделиться</div>
        <div class="odnoklassniki">Класc</div>
        <div class="telegram"></div>
        <div class="whatsapp"></div>
      </div>
      <div class="container mt-3 mb-3">
        <a id="alpha" class="button is-shadowless is-light">
          <span class="icon has-text-grey">
            <span class="icon"><i class="far fa-envelope"></i></span>
          </span>
          <span>Написать нам</span>
        </a>
        <p id="beta_decript" class="help is-hidden mb-3">
          <span class="has-text-weight-bold">Важно!</span> Если вы участник
          розыгрыша, то за всей<br />
          информацией обращайтесь к организатору. Мы не сможем<br />
          ответить на вопросы про правила, призы и подобные им.<br />
          Предложения повлиять на итоги гарантированно остаются<br />
          без ответа, а также могут быть размещены публично.
        </p>
        <a id="beta"></a>
      </div>
      <p class="is-size-7">Рандомус — место, где хранят числа</p>
      <p class="is-size-7">
        © 2013-2026,
        <span
          class="is-clickable"
          title="Наименование «Рандомус» является зарегистрированным знаком обслуживания."
          >® 2024-2026</span
        >. Версия 2.227 (2026.02.11)
      </p>
    </div>
  </div>
</footer>
