{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="description" content="Лаконичный рандомайзер. Простой интерфейс. Только числа и ничего лишнего. Серии без повторов. Сохраняет результаты от случайного сброса.">
    <meta name="keywords" content="генератор случайных чисел рандомайзер без повторов с прокруткой для онлайна">
    <meta property="og:image" content="{% static 'static-sub/static/resource/img/sharing_21.png' %}"/>
    <meta property="og:site_name" content="Рандомус"/>
    <meta property="og:title" content="Рандомайзер чисел | Рандомус"/>
    <meta property="og:type" content="website"/>
    <title>Рандомайзер чисел | Рандомус</title>

    <link rel="stylesheet" href="{% static 'npm/bulma-1.0.2/css/bulma.min_21.css' %}">
    <link rel="stylesheet" href="{% static 'design/rnd2/css/randomus_1772613267.css' %}">
    <link rel="stylesheet" href="{% static 'static-sub/static/resource/css/rnd_common_21.css' %}">
    <link rel="stylesheet" href="{% static 'design/rnd2/css/vendor/odometer-theme-default_1733134920.css' %}">
    <link rel="stylesheet" href="{% static 'static-sub/static/resource/css/animate.min_21.css' %}">

    <link rel="icon" href="{% static 'static-sub/static/resource/img/randomus_favicon.svg' %}" type="image/svg+xml">
    <link rel="icon" sizes="32x32" href="{% static 'static-sub/static/resource/img/randomus_favicon_32_21.png' %}" type="image/png">
    <link rel="icon" sizes="192x192" href="{% static 'static-sub/static/resource/img/randomus_favicon_192_21.png' %}" type="image/png">
    <link rel="apple-touch-icon" href="{% static 'static-sub/static/resource/img/randomus_icon_180_21.png' %}">

    <script>window.yaContextCb = window.yaContextCb || []</script>
    <script src="{% static 'ads/system/context.js' %}" async></script>
</head>