<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#"  lang="ru">
{% include "includes/head.html" %}
<body>
{% include "includes/rand-modal.html" %}
{% include "includes/nav.html" %}
<section id="rnd_main_section" class="section is-paddingless-mobile pb-4">

        			<div class="columns is-gap-4 is-variable">
				<div class="column is-narrow">
					<div class="title is-4 is-hidden-mobile">&nbsp;</div>
                    <ul class="info_list">						
                                                						<li>
                            <a href="/info/about">О Рандомусе</a>
						</li>											                        
                                                						<li>
                            <a href="/info/howto">Краткие инструкции</a>
						</li>											                        
                                                						<li>
                            <a href="/info/faq">Ответы на частые вопросы</a>
						</li>											                        
                                                						<li>
                            <a href="/info/pay">Как убрать рекламу со страниц сервиса</a>
						</li>											                        
                                                                        						<li>
                            <a href="/info/ideas">Есть идея или предложение?</a>
						</li>											                        
                                                                        						<li>
                            <a href="/info/special">Индивидуальные проекты</a>
						</li>											                        
                                                						<li>
                            <a href="/info/offer">Оферта на платные услуги</a>
						</li>											                        
                                                </ul>
				</div>
				<div class="column is-8 is-7-desktop pb-6">
					<div class="content">
						<h1 class="title is-4">Ответы на часто задаваемые вопросы</h1>
                        <h2 class="title is-5 mb-2">Ваши числа точно случайные?</h2>
<p>Рандомус использует криптографически безопасные методы для генерации псевдослучайных чисел. Такие числа можно использовать для целей криптографии, соответственно для проведения лотерей и розыгрышей они обладают огромным запасом энтропии. <a href="/quick?from=1&amp;to=100&amp;count=100">Поэкспериментируйте</a> сами!

</p><h2 class="title is-5 mb-2">Почему организатор не обманет с итогами розыгрыша или конкурса?</h2>
<p>Мы создаём постоянные страницы для всех розыгрышей. Организатор должен заранее поделиться с участниками ссылкой на такую страницу. После этого единственный способ подменить результаты — подменить ссылку, но сделать это незаметно от участников невозможно.<br>
</p><p>После подведения итогов розыгрыш блокируется от всех изменений. Поправить, переиграть или спрятать его невозможно. Просмотреть условия, результаты и всю вспомогательную информацию, напротив, может каждый.</p>

<h2 class="title is-5 mb-2">Что делать, если я ошибся, когда подводил итоги розыгрыша?</h2>
<p>Это грустно, но с нашей стороны мы ничего сделать не сможем. Невозможность изменить, отменить или подменить итоги, это основной принцип, почему нам доверяют. Сообщения, содержащие такие просьбы в любых формах, игнорируются.</p>
<p>Для ответственных розыгрышей мы можем посоветовать создавать резервные страницы. Заранее делитесь ссылкой на них с пользователями и объясняйте, при каких форс-мажорных обстоятельствах вы сможете их использовать.</p>

<h2 class="title is-5 mb-2">Зачем нужна авторизация ВКонтакте?</h2>
<p>Без этого Рандомус не сможем получить от соц. сети часть информации, необходимую для поиска победителей, например, список репостов (<a href="https://vk.com/blog/privacy">реформа приватности ВК</a>).
</p><p>Если вы проводите розыгрыш на странице группы, то необходимо иметь права на неё не ниже редактора, чтобы получить все данные.


</p><h2 class="title is-5 mb-2">Почему в конкурсе ВКонтакте победителей оказалось меньше, чем было указано?</h2>
<p>Под сложные условия (например, одновременно поставить лайк, сделать репост и быть участником группы) может попасть меньше участников, чем рассчитывал организатор. В этом случае число победителей будет меньше заявленного.</p>
<p>Если не будет найдено ни одного победителя, мы разблокируем организатору возможность внести изменения в первоначальные условия. Информация об этом появится в статусе конкурса.</p>

					</div>
				</div>
			</div>
    </section>
        {% include "includes/footer.html" %}
    </div>
{% include "includes/scripts.html" %}
</body>
</html>