<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#"  lang="ru">
{% include "includes/head.html" %}
<body>
{% include "includes/rand-modal.html" %}
{% include "includes/nav.html" %}
<section id="rnd_main_section" class="section is-paddingless-mobile pb-4">

        			<div class="columns is-gap-4 is-variable">
				<div class="column is-narrow">
					<div class="title is-4 is-hidden-mobile">&nbsp;</div>
                    <ul class="info_list">						
                                                						<li>
                            <a href="/info/about">О Рандомусе</a>
						</li>											                        
                                                						<li>
                            <a href="/info/howto">Краткие инструкции</a>
						</li>											                        
                                                						<li>
                            <a href="/info/faq">Ответы на частые вопросы</a>
						</li>											                        
                                                						<li>
                            <a href="/info/pay">Как убрать рекламу со страниц сервиса</a>
						</li>											                        
                                                                        						<li>
                            <a href="/info/ideas">Есть идея или предложение?</a>
						</li>											                        
                                                                        						<li>
                            <a href="/info/special">Индивидуальные проекты</a>
						</li>											                        
                                                						<li>
                            <a href="/info/offer">Оферта на платные услуги</a>
						</li>											                        
                                                </ul>
				</div>
				<div class="column is-8 is-7-desktop pb-6">
					<div class="content">
						<h1 class="title is-4">Краткие инструкции по использованию Рандомуса</h1>
                        <p>Мы старались сделать работу с нашими сервисами максимально простой. Поэтому инструкции в основном касаются общих принципов "как это работает".</p>
<h2 class="title is-5 mb-2">Розыгрыш со случайными числами</h2>
<p>Вы заранее <a href="https://randomus.ru/number?type=create">создаете</a> страницу розыгрыша, заполняете её описание и делитесь ссылкой со всеми участниками.
</p><p>Когда придёт время определить победителей, сделайте это на вкладке "Подведение итогов". Подвести итог можно только один раз. 
    Все участники будут видеть условия, результат, дату и время подведения итогов. Вы не сможете изменить или подменить данные.

<a href="#vk"></a></p><h2 class="title is-5 mb-2">Конкурс ВКонтакте</h2>
<p><a href="https://randomus.ru/vk">Создайте</a> страницу конкурса, используя ссылку на пост ВКонтакте, 
    по которому вы хотите определить победителей.
</p><p><span class="icon mr-1 has-text-danger"><svg class="svg-inline--fa fa-circle-exclamation" aria-hidden="true" focusable="false" data-prefix="far" data-icon="circle-exclamation" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c-13.3 0-24 10.7-24 24V264c0 13.3 10.7 24 24 24s24-10.7 24-24V152c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"></path></svg><!-- <i class="far fa-circle-exclamation"></i> --></span>При создании конкурса мы запросим доступ, для получения информации от ВКонтакте.
    Без этого Рандомус не сможет получить от соц. сети часть информации, необходимую для поиска победителей, например, список репостов
    (<a href="https://vk.com/blog/privacy">реформа приватности ВК</a>).   
</p><p>Укажите количество победителей и критерии для их поиска. Это может быть произвольное сочетание сделанных репостов, лайков, 
    оставленных комментариев и наличия подписки.
</p><p>Поделитесь с участниками ссылкой на созданную страницу конкурса. Она имеет вид <code>https://randomus.ru/vkXXXXX</code>.
</p><p>Когда придёт время найти победителей, сделайте это на вкладке "Подведение итогов". 
    Есть возможность указать дату и время закрытия конкурса заранее. В этом случае итоги будут подведены автоматически в указанное время.
</p><p>Подвести итог можно только один раз. 
    Все участники будут видеть условия, победителей, дату и время подведения итогов. Вы не сможете изменить или подменить данные.
</p><p>Если при подведении итогов не будет найдено ни одного победителя, вы сможете изменить условия, а пользователи увидят информацию о причинах этого.
    
</p><h2 class="title is-5 mb-2">Доступ для управления</h2>
<p>Все созданные вами страницы находятся в <a href="https://randomus.ru/user">личном кабинете</a>.</p>
<p>Если вам необходимо предоставить доступ для управления 3-му лицу, то вы можете сообщить ему одноразовый код для входа, полученный в письме авторизации. Изменить почтовый ящик, к которому привязан личный кабинет, возможно только для профи аккаунтов, через обращение в службу поддержки.
</p><p>При необходимости можно одновременно завершить все пользовательские сеансы. Опция находится в настройках пользователя.
    
    
</p><h2 class="title is-5 mb-2">Доступ только для участников</h2>
Эта опция защищает вашу страницу от случайных просмотров. Увидеть подробности можно только перейдя по специальной ссылке, такого вида <code>https://randomus.ru/num/lgyB4XZeRY</code>. Такая страница не индексируется поисковыми системами.					</div>
				</div>
			</div>
    </section>
        {% include "includes/footer.html" %}
    </div>
{% include "includes/scripts.html" %}
</body>
</html>