<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#"  lang="ru">
{% include "includes/head.html" %}
<body>
{% include "includes/rand-modal.html" %}
{% include "includes/nav.html" %}
<section id="rnd_main_section" class="section is-paddingless-mobile pb-4">

        			<div class="columns is-gap-4 is-variable">
				<div class="column is-narrow">
					<div class="title is-4 is-hidden-mobile">&nbsp;</div>
                    <ul class="info_list">						
                                                						<li>
                            <a href="/info/about">О Рандомусе</a>
						</li>											                        
                                                						<li>
                            <a href="/info/howto">Краткие инструкции</a>
						</li>											                        
                                                						<li>
                            <a href="/info/faq">Ответы на частые вопросы</a>
						</li>											                        
                                                						<li>
                            <a href="/info/pay">Как убрать рекламу со страниц сервиса</a>
						</li>											                        
                                                                        						<li>
                            <a href="/info/ideas">Есть идея или предложение?</a>
						</li>											                        
                                                                        						<li>
                            <a href="/info/special">Индивидуальные проекты</a>
						</li>											                        
                                                						<li>
                            <a href="/info/offer">Оферта на платные услуги</a>
						</li>											                        
                                                </ul>
				</div>
				<div class="column is-8 is-7-desktop pb-6">
					<div class="content">
						<h1 class="title is-4">Идеи и предложения для Рандомуса</h1>
                        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfd48g5WpB4n3dhol8KJCH2ueRXEtYet1RewZD8elJoHbQnuw/viewform?embedded=true" width="680" height="680" frameborder="0" marginheight="0" marginwidth="0">Загрузка…</iframe>					</div>
				</div>
			</div>
    </section>
        {% include "includes/footer.html" %}
    </div>
{% include "includes/scripts.html" %}
</body>
</html>