<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#"  lang="ru">
{% include "includes/head.html" %}
<body>
{% include "includes/rand-modal.html" %}
{% include "includes/nav.html" %}
<section id="rnd_main_section" class="section is-paddingless-mobile pb-4">

        			<div class="columns is-gap-4 is-variable">
				<div class="column is-narrow">
					<div class="title is-4 is-hidden-mobile">&nbsp;</div>
                    <ul class="info_list">						
                                                						<li>
                            <a href="/info/about">О Рандомусе</a>
						</li>											                        
                                                						<li>
                            <a href="/info/howto">Краткие инструкции</a>
						</li>											                        
                                                						<li>
                            <a href="/info/faq">Ответы на частые вопросы</a>
						</li>											                        
                                                						<li>
                            <a href="/info/pay">Как убрать рекламу со страниц сервиса</a>
						</li>											                        
                                                                        						<li>
                            <a href="/info/ideas">Есть идея или предложение?</a>
						</li>											                        
                                                                        						<li>
                            <a href="/info/special">Индивидуальные проекты</a>
						</li>											                        
                                                						<li>
                            <a href="/info/offer">Оферта на платные услуги</a>
						</li>											                        
                                                </ul>
				</div>
				<div class="column is-8 is-7-desktop pb-6">
					<div class="content">
						<h1 class="title is-4">Оферта о заключении договора об оказании платных услуг на сайте интернет-сервиса «Рандомус»</h1>
                        <p>Настоящий документ (далее по тексту – «Оферта») регулирует отношения между ИП Дуденко Игорем Васильевичем (ОГРНИП 311190317100011) (далее по тексту – «КОМПАНИЯ») и Вами (далее по тексту – «ПОЛЬЗОВАТЕЛЬ») по вопросу возмездного оказания услуг на сайте <a href="https://randomus.ru">https://randomus.ru</a> (далее по тексту «СЕРВИС») на условиях, изложенных в настоящей Оферте.

</p><h4>1. Порядок заключения договора, принятие оферты</h4>

<p>1.1. Договор на условиях настоящей Оферты (далее по тексту – «Договор») заключается между Сторонами в момент акцепта (принятия) ПОЛЬЗОВАТЕЛЕМ условий настоящей Оферты. Принятие Оферты с оговорками не допускается.

</p><p>1.2. Акцепт настоящей Оферты осуществляется ПОЛЬЗОВАТЕЛЕМ при совокупном осуществлении следующих действий, если Сторонами не согласован иной способ: (а) принятие условий Оферты, размещенной по адресу <a href="https://randomus.ru/info/offer">https://randomus.ru/info/offer</a>, (б) выбор услуги «Разовое специальное размещение» или «Годовая подписка на профессиональный аккаунт», (в) нажатие на кнопку «Оплатить» (с указанием стоимости выбранной услуги) и (г) произведение оплаты услуг в соответствии с выбранными условиями, объемом и порядком оказания услуг.

</p><p>1.3. Действия ПОЛЬЗОВАТЕЛЯ по приобретению услуги «Разовое специальное размещение» или «Годовая подписка на профессиональный аккаунт» в порядке, на условиях и в сроки, предусмотренные в настоящей Оферте, свидетельствуют о безоговорочном согласии ПОЛЬЗОВАТЕЛЯ с условиями Оферты.

</p><p>1.4. Принимая Оферту, ПОЛЬЗОВАТЕЛЬ признает и подтверждает, что прочел и полностью согласен с условиями настоящей Оферты.

</p><p>1.5. ПОЛЬЗОВАТЕЛЬ гарантирует, что обладает всеми необходимыми полномочиями для присоединения к настоящей Оферте.

</p><p>1.6. КОМПАНИЯ оставляет за собой право вносить изменения и дополнения в настоящую Оферту. Новая редакция Оферты вступает в силу с момента её размещения на сайте по адресу: <a href="https://randomus.ru/info/offer">https://randomus.ru/info/offer</a>. ПОЛЬЗОВАТЕЛЮ следует регулярно знакомиться с новыми редакциями Оферты. Продолжение использования СЕРВИСА ПОЛЬЗОВАТЕЛЕМ на условиях, предусмотренных измененной и/или дополненной Оферты, означает принятие и согласие таким ПОЛЬЗОВАТЕЛЕМ с такими изменения и/или дополнениями.


</p><h4>2. Условия оказания услуг</h4>

<p>2.1. В соответствии с настоящей Офертой услуги «Разовое специальное размещение» или «Годовая подписка на профессиональный аккаунт» представляют собой расширенный функционал СЕРВИСА, который предоставляется каждому ПОЛЬЗОВАТЕЛЮ, явно выразившему согласие на использование такого функционала СЕРВИСА, на платной основе. Такая услуга не является обязательным условием использования самого СЕРВИСА.

</p><p>2.2. Территория оказания услуг – Российская Федерация.

</p><p>2.3. В соответствии с настоящей Офертой СЕРВИС оказывает следующие платные услуги (далее по тексту «УСЛУГИ»):

</p><p>2.3.1. Услуга «Разовое специальное размещение» — услуга, которая предоставляется ПОЛЬЗОВАТЕЛЮ на платной основе, для скрытия блоков контекстной рекламы на выбранной странице сайта СЕРВИСА. Услуга «Разовое специальное размещение» оказывается бессрочно и действует в рамках той страницы на сайте СЕРВИСА, для которой она оплачена.

</p><p>2.3.2. Услуга «Годовая подписка на профессиональный аккаунт» — услуга, которая предоставляется ПОЛЬЗОВАТЕЛЮ на платной основе, для скрытия блоков контекстной рекламы на всех страницах сайта Сервиса, созданных ПОЛЬЗОВАТЕЛЕМ, а также при просмотре ПОЛЬЗОВАТЕЛЕМ любых других страниц СЕРВИСА. Срок действия услуги «Годовая подписка на профессиональный аккаунт» — 366 дней с момента ее приобретения.

</p><p>2.3.3. Услуга «Размещение SPECIAL страницы» — услуга, которая предоставляется ПОЛЬЗОВАТЕЛЮ на платной основе, для размещения персональной страницы на сайте СЕРВИСА, с целью проведения online розыгрышей призов с использованием полной функциональности, описанной на странице <a href="https://randomus.ru/special">https://randomus.ru/special</a>. Услуга предоставляется на срок 30 или 365 дней, в зависимости от варианта, выбранного ПОЛЬЗОВАТЕЛЕМ при оплате.

</p><p>2.4. Стоимость предоставления УСЛУГ указывается в интерфейсе СЕРВИСА на страницах <a href="https://randomus.ru/info/pay">https://randomus.ru/info/pay</a>, <a href="https://randomus.ru/special">https://randomus.ru/special</a>, а также на странице оплаты соответствующих УСЛУГ.

</p><p>2.5. При оплате услуги «Годовая подписка на профессиональный аккаунт», в случае если у ПОЛЬЗОВАТЕЛЯ не истек срок действия ранее оплаченной аналогичной услуги, срок ее действия суммируется с указанным в п.п. 2.3.2.

</p><p>2.6. Оплата услуги «Размещение SPECIAL страницы», производиться за каждую размещенную ПОЛЬЗОВАТЕЛЕМ страницу в отдельности. В случае, если у ПОЛЬЗОВАТЕЛЯ не истек ранее оплаченный срок размещения страницы, то этот срок для неё увеличивается на тот период, который дополнительно оплачивает ПОЛЬЗОВАТЕЛЬ.</p>

<p>2.7. КОМПАНИЯ вправе по своему усмотрению, в одностороннем порядке, изменять стоимость УСЛУГ, условия и порядок их предоставления.

</p><p>2.8. Информация о текущем статусе УСЛУГ отображается в профиле ПОЛЬЗОВАТЕЛЯ на сайте СЕРВИСА.

</p><p>2.9. ПОЛЬЗОВАТЕЛЬ вправе приобрести такое количество услуг «Разовое специальное размещение», которое допускается функционалом СЕРВИСА.

</p><p>2.10. Услуга «Разовое специальное размещение» считается оказанной с момента оплаты и активации для указанной ПОЛЬЗОВАТЕЛЕМ страницы СЕРВИСА.

</p><p>2.11. Услуга «Годовая подписка на профессиональный аккаунт» считается оказанной с момента оплаты и активации услуги для профиля ПОЛЬЗОВАТЕЛЯ.

</p><p>2.12. Услуга «Размещение SPECIAL страницы» считается оказанной с момента оплаты и активации услуги для размещенной ПОЛЬЗОВАТЕЛЕМ страницы розыгрыша на сайте СЕРВИСА.</p>

<p>2.13. ПОЛЬЗОВАТЕЛЬ признает и соглашается, что при использовании Услуг КОМПАНИЯ вправе во исполнение обязательств по Договору, заключаемому на условиях настоящей Оферты, направлять ПОЛЬЗОВАТЕЛЮ информацию о состоянии оплаченных им Услуг по указанному ПОЛЬЗОВАТЕЛЕМ в профиле адресу электронной почты.

</p><p>2.14. ПОЛЬЗОВАТЕЛЬ несет личную ответственность за сохранность и безопасность своих личных данных (логин, платежные данные). Любые действия, совершенные с использованием личного кабинета ПОЛЬЗОВАТЕЛЯ, считаются Сторонами совершенными непосредственно ПОЛЬЗОВАТЕЛЕМ.

</p><h4>3. Условия оплаты УСЛУГ</h4>

<p>3.1. Стоимость и условия оплаты УСЛУГ определяются в соответствии с положениями настоящей Оферты.

</p><p>3.2. Стоимость приобретенных ПОЛЬЗОВАТЕЛЕМ УСЛУГ не пересматривается. Новая цена применяется при последующем приобретении УСЛУГ.

</p><p>3.3. В целях оплаты УСЛУГ ПОЛЬЗОВАТЕЛЮ предлагаются следующие варианты внесения платежей:

</p><p>3.3.1. on-line оплата на сайте через платежную систему ООО «РОБОКАСА». Все дополнительные расходы по перечислению денежных средств за заказ несёт ПОЛЬЗОВАТЕЛЬ.

</p><p>3.4. Оплата УСЛУГ осуществляется ПОЛЬЗОВАТЕЛЕМ в порядке 100% предоплаты. Предоставление Пользователю УСЛУГ осуществляется только при условии полной оплаты стоимости услуги ПОЛЬЗОВАТЕЛЕМ в соответствии с условиями настоящей Оферты.

</p><p>3.5. Стоимость УСЛУГ не облагается НДС.

</p><p>3.6. В том случае, если в результате технической ошибки, сбоя СЕРВИСА или любого его элемента, или сознательных действий ПОЛЬЗОВАТЕЛЯ им был получен доступ к УСЛУГАМ без оплаты в установленном настоящей Офертой порядке, ПОЛЬЗОВАТЕЛЬ обязуется сообщить об этом факте КОМПАНИИ.

</p><h4>4. Прочие условия</h4>

<p>4.1. Если по каким-либо причинам одно или несколько положений настоящей Оферты будут признаны недействительными или не имеющими юридической силы, это не оказывает влияния на действительность или применимость остальных положений Оферты.

</p><p>4.2. Все споры сторон по настоящей Оферте подлежат разрешению путем переписки и переговоров с использованием обязательного досудебного (претензионного) порядка. В случае невозможности достичь согласия между Сторонами путем переговоров в течение 60 (шестидесяти) календарных дней с момента получения другой Стороной письменной претензии, рассмотрение спора должно быть передано любой заинтересованной стороной в суд по месту нахождения Компании, если иное прямо не предусмотрено применимым законодательством РФ.
</p><hr>
<p>
    Индивидуальный предприниматель Дуденко Игорь Васильевич<br>
    ИНН 190302497357, ОГРН 311190317100011<br>					</p></div>
				</div>
			</div>
    </section>
        {% include "includes/footer.html" %}
    </div>
{% include "includes/scripts.html" %}
</body>
</html>