<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#"  lang="ru">
{% include "includes/head.html" %}
<body>
{% include "includes/rand-modal.html" %}
{% include "includes/nav.html" %}
<section id="rnd_main_section" class="section is-paddingless-mobile pb-4">

        			<div class="columns is-gap-4 is-variable">
				<div class="column is-narrow">
					<div class="title is-4 is-hidden-mobile">&nbsp;</div>
                    <ul class="info_list">						
                                                						<li>
                            <a href="/info/about">О Рандомусе</a>
						</li>											                        
                                                						<li>
                            <a href="/info/howto">Краткие инструкции</a>
						</li>											                        
                                                						<li>
                            <a href="/info/faq">Ответы на частые вопросы</a>
						</li>											                        
                                                						<li>
                            <a href="/info/pay">Как убрать рекламу со страниц сервиса</a>
						</li>											                        
                                                                        						<li>
                            <a href="/info/ideas">Есть идея или предложение?</a>
						</li>											                        
                                                                        						<li>
                            <a href="/info/special">Индивидуальные проекты</a>
						</li>											                        
                                                						<li>
                            <a href="/info/offer">Оферта на платные услуги</a>
						</li>											                        
                                                </ul>
				</div>
				<div class="column is-8 is-7-desktop pb-6">
					<div class="content">
						<h1 class="title is-4">Как убрать рекламу со страниц сервиса</h1>
                        <p>Основной функционал Рандомуса бесплатен. Для того чтобы оплачивать хостинг и
    поддерживать проект, мы показываем посетителям рекламу.
</p>
<p>При желании вы можете убрать всю рекламу со страницы вашего розыгрыша или 
    конкурса за&nbsp;<mark><strong>99&nbsp;₽</strong></mark> (услуга «Разовое специальное размещение»).
    </p>
<p>Также вы можете скрыть для себя рекламу со всех страниц нашего сервиса. Другие пользователи также не будут видеть рекламу на всех страницах ваших розыгрышей и конкурсов. Стоимость услуги «Годовая подписка на профессиональный аккаунт» составляет&nbsp;<mark><strong>599&nbsp;₽</strong></mark>.
</p>
<p>Кнопка для скрытия рекламы показывается авторизованному пользователю на страницах, где это возможно. Оформить подписку и убрать рекламу на год можно в
    <a href="/user?type=set">настройках пользователя</a>.
</p>
<p>Указанные выше услуги оказываются в соответствии с <a href="https://randomus.ru/info/oferta">офертой</a>.</p>
<p>Ещё один способ избавить рекламы при проведении розыгрыша призов — сделать это в рамках <a href="/info/special">индивидуального проекта</a>. Кроме отсутствия рекламы это даёт полную свободу в реализации сценариев ваших розыгрышей.</p>
					</div>
				</div>
			</div>
    </section>
        {% include "includes/footer.html" %}
    </div>
{% include "includes/scripts.html" %}
</body>
</html>