<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#"  lang="ru">
{% include "includes/head.html" %}
<body>
{% include "includes/rand-modal.html" %}
{% include "includes/nav.html" %}
<section id="rnd_main_section" class="section is-paddingless-mobile pb-4">

        			<div class="columns is-gap-4 is-variable">
				<div class="column is-narrow">
					<div class="title is-4 is-hidden-mobile">&nbsp;</div>
                    <ul class="info_list">						
                                                						<li>
                            <a href="/info/about">О Рандомусе</a>
						</li>											                        
                                                						<li>
                            <a href="/info/howto">Краткие инструкции</a>
						</li>											                        
                                                						<li>
                            <a href="/info/faq">Ответы на частые вопросы</a>
						</li>											                        
                                                						<li>
                            <a href="/info/pay">Как убрать рекламу со страниц сервиса</a>
						</li>											                        
                                                                        						<li>
                            <a href="/info/ideas">Есть идея или предложение?</a>
						</li>											                        
                                                                        						<li>
                            <a href="/info/special">Индивидуальные проекты</a>
						</li>											                        
                                                						<li>
                            <a href="/info/offer">Оферта на платные услуги</a>
						</li>											                        
                                                </ul>
				</div>
				<div class="column is-8 is-7-desktop pb-6">
					<div class="content">
						<h1 class="title is-4">Индивидуальные проекты для проведения розыгрышей</h1>
                        <p>12 лет мы помогаем проводить розыгрыши призов в интернете. Каждый день нашим сервисом пользуются десятки тысяч людей, маленькие и большие компании. Мы стараемся делать для них удобные готовые решения, но хорошо понимаем, что не всегда стандартные решения полностью подходят под те сценарии, которые требуется воплотить в жизнь.

</p><p>Наш опыт и репутация позволяют создавать решения для корпоративных розыгрышей призов любого масштаба по индивидуальным сценариям.
</p><p class="mb-1">В рамках такого решения мы можем предложить:
</p><ul class="mt-0">
    <li>реализацию произвольных механик;
    </li><li>поддержку списков участников любого размера;
    </li><li>проведение розыгрышей с разбивкой по этапам;
    </li><li>использование фирменных цветов, шрифтов и других элементов оформления;
    </li><li>вывод результатов на отдельный экран без интерфейса оператора, а также вывод результатов сразу на несколько экранов.
    </li><li>выделенную инфраструктуру под проект;
    </li><li>полную техническую поддержку на всех этапах сотрудничества;
    </li><li>подробное протоколирование процесса розыгрыша и его результатов;
    </li><li>выгрузку результатов в любых требуемых форматах для интеграции с корпоративными системами.
</li></ul>
<p>Стоимость реализации индивидуального проекта зависит от сложности сценариев и особенностей конкретного проекта. Срок — от 10 рабочих дней.
</p><p>Для коротких сроков и простых механик у нас есть решение с широким функционалом, которое можно разместить и настроить самостоятельно: <a href="/special">Рандомус.Special</a>.</p>
<p class="mb-1">Примеры проектов, в которых мы принимали участие:</p>
<ul class="mt-0 mb-5">
    <li><a href="https://www.youtube.com/watch?v=WHTy_A4QxlM&amp;ab_channel=NLInternational">ТОП-розыгрыш NL International, 09.03.2022</a>
    </li><li><a href="https://vk.com/video/@nationallottery_official?z=video-198688479_456239129">«Квартилион от Мечталлион». Розыгрыш призов второго порядка, 09.04.2023</a>
    </li><li><a href="https://vk.com/video/@nationallottery_official?z=video-198688479_456239132">«Квартилион от Мечталлион». Розыгрыш квартиры в Москве, 15.04.2023</a>
    </li><li><a href="https://www.youtube.com/watch?v=iphS_AppUH8">Самокат. «Весенний розыгрыш», 28.04.2023</a>.
    </li><li><a href="https://www.youtube.com/watch?v=KO7h-BhaJzU">Самокат. «Летний розыгрыш», 25.08.2023</a>.
    </li><li><a href="https://vk.com/video-15111376_456241848">Ozon. «Время призов», 16.11.2023</a>
    </li><li><a href="https://youtu.be/UvQP5GjXOig?si=r7abo_zkCGB1OaMh">Самокат, СберМаркет, Мегамаркет. «Большой Новогодний розыгрыш», 16.02.2024</a>
    </li><li><a href="https://live.sportmaster.ru/stream/3928678">Спортмастер. «Большая игра», 20.02.2024</a>
    </li><li><a href="https://vk.com/video-15111376_456242260">Ozon. «Время призов», 17.06.2024</a>
    </li><li><a href="https://vk.com/video-48593_456242098">Спортмастер. «Большая игра: Финал», 12.09.2024</a>
    </li><li><a href="https://vk.com/video-9695053_456240785">Wildberries. «Юбилейный розыгрыш», 11.11.2024</a>
</li></ul>


<div class="notification content ">
                            
                            <div class="media">
                                <div class="media-left is-hidden-mobile" style="height:1rem;"><span class="icon is-size-3 mr-1"><svg class="svg-inline--fa fa-circle-info" aria-hidden="true" focusable="false" data-prefix="far" data-icon="circle-info" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336c-13.3 0-24 10.7-24 24s10.7 24 24 24h80c13.3 0 24-10.7 24-24s-10.7-24-24-24h-8V248c0-13.3-10.7-24-24-24H216c-13.3 0-24 10.7-24 24s10.7 24 24 24h24v64H216zm40-144a32 32 0 1 0 0-64 32 32 0 1 0 0 64z"></path></svg><!-- <i class="far fa-circle-info"></i> --></span></div>
                                <div class="media-content">
                                    									
                                    <p>Пожалуйста, обратите внимание на то, 
что мы не сможем обеспечить «нужный» результат. 
Такие предложения остаются без ответа, а их содержание может быть публично размещено на наших и сторонних ресурсах.</p>									
                                </div>
                            </div>
                        </div>
					</div>
				</div>
			</div>
    </section>
        {% include "includes/footer.html" %}
    </div>
{% include "includes/scripts.html" %}
</body>
</html>