<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#"  lang="ru">
{% include "includes/head.html" %}
<body>
{% include "includes/rand-modal.html" %}
{% include "includes/nav.html" %}
    <section id="rnd_main_section" class="section is-paddingless-mobile pb-4">
        <div class="columns">
    <div class="column is-8">
        <div class="tabs is-toggle is-small">
    <ul>
        <li class="is-active"><a href="type-generate.html">Только числа</a>
        </li>
        <li class=""><a href="type-create.html">Розыгрыш с
                описанием</a></li>
    </ul>
</div>
    <h1 class="title is-4">Генератор случайных чисел со ссылкой и картинкой</h1>
    <div class="content">
        <p class="subtitle is-6">Результат сохраним, у него будет своя страница с постоянной ссылкой и готовая картинка
            для того, чтобы поделиться результатом в социальных сетях, на страницах форума или на своем сайте. <a
                    href="num5833281.html"><span class="tag is-medium is-link is-light">Пример</span></a></p>
    </div>
        <form name="create" action="number.html" method="post" data-loadtext="Сохраняем результаты">
        <div class="field">
            <div class="mb-1">
                <label class="label">В диапазоне</label>
            </div>
            <div class="field is-flex mr-4">
                <div class="range_label mr-2">от</div>
                <div class="control">
                    <input id="num_from" name="from" class="input" type="number" value="1" required
                           min="0" max="999999999"
                           placeholder="0" autocomplete="off"
                           onchange="change_max_count();">
                </div>
                <div class="range_label mx-2">до</div>
                <div class="control">
                    <input id="num_to" name="to" class="input" type="number" required
                           min="0" max="999999999"
                           placeholder="999&thinsp;999&thinsp;999" autocomplete="off" required
                           onchange="change_max_count();">
                </div>
            </div>
        </div>
        <div class="field">
            <div class="mb-1">
                <label class="label">Получить</label>
            </div>
            <div class="field">
                <div class="control">
                    <div class="level is-mobile">
                        <div class="level-left is-flex-direction-row">
                            <div class="level-item">
                                <input id="num_count" name="count" class="input with_numeral" type="number" value="1"
                                       min="1" max="200" size="3" autocomplete="off" required
                                       data-label="num_label">
                            </div>
                            <div class="level-item ml-1"><span id="num_label">число</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field mb-0">
            <input name="norepeat" id="num_norepeat" type="checkbox" class="switch is-rounded is-link is-outlined" value="1" onclick="change_max_count();">
            <label for="num_norepeat">Без повторов</label>
        </div>
        <div class="field">
            <input name="sort" id="num_sort" type="checkbox" class="switch is-rounded is-link is-outlined"  value="1">
            <label for="num_sort">Сортировать по порядку</label>
        </div>
        <input name="action" value="generate" type="hidden">
        <input name="max_count" id="max_count" value="200" type="hidden">
        <input name="check" value="rAAXahpAUG" type="hidden">
        <div class="field mt-5">
            <div class="control">
                <button type="submit" class="button is-medium is-link">Сгенерировать</button>
            </div>
        </div>
        <input name="max_count" id="max_count" value="300" type="hidden">
    </form>
    </div>
    <div class="column is-4">
                <div class='mmb'>
<div id="yandex_rtb_R-A-715785-1" class="min-height-block"></div>
<script>window.yaContextCb.push(()=>{
        Ya.Context.AdvManager.render({
            renderTo: 'yandex_rtb_R-A-715785-1',
            blockId: 'R-A-715785-2'
        })
    })</script></div>    </div>
</div>
    </section>
        {% include "includes/footer.html" %}
    </div>
{% include "includes/scripts.html" %}
</body>
</html>