<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#"  lang="ru">
{% include "includes/head.html" %}
<body>
{% include "includes/rand-modal.html" %}
{% include "includes/nav.html" %}
    <section id="rnd_main_section" class="section is-paddingless-mobile pb-4">
        <div class="columns">
    <div class="column is-8">
        <div class="tabs is-toggle is-small">
    <ul>
        <li class=""><a href="/numberr">Только числа</a>
        </li>
        <li class="is-active"><a href="/numberc">Розыгрыш с
                описанием</a></li>
    </ul>
</div>
    <h1 class="title is-4">Розыгрыш с описанием</h1>
    <div class="content">
        <p>Честный розыгрыш c помощью генератора случайных чисел:<br>
            <ul>
                <li>
                    подвести итоги можно только один раз;
                </li>
                <li>
                    подменить результаты невозможно;
                </li>
                <li>
                    все данные хранятся бессрочно.
                </li>
            </ul>
        <p>Вы заранее создаете страницу розыгрыша и делитесь ссылкой на неё с участниками. Когда приходит время —
            подводите итоги. <a href="num5823730.html"><span class="tag is-medium is-link is-light">Пример</span></a></p>
    </div>
                    								<div class="notification box form-box-wide">
									<div class="media">
										<div class="media-left is-hidden-mobile">
                                            <span class='icon  is-size-4'><i class='fad fa-right-to-bracket'></i></span>										</div>
										<div class="media-content content">
											<p><strong>Для продолжения необходимо авторизоваться</strong></p>
											<p>Вы сможете управлять созданными страницами в личном кабинете. Регистрация не требуется, сразу пришлем ссылку для входа.
											</p>
											<div class="container">
												<form action="login.html" method="post" class="form" data-loadtext="Отправляем письмо для авторизации">
													<div class="field">
														<label class="label">Эл. почта</label>
														<div class="control has-icons-left">
															<input name="email" class="input" type="email" required>
															<span class='icon is-small is-left'><i class='far fa-envelope'></i></span>														</div>
                                                        <p class="help">Отправляем только транзакционные сообщения. Остальные пользователи не увидят ваш почтовый адрес.</p>
													</div>
                                                    <div id="add_email_div" class="field is-hidden">
                                                        <div class="field">
                                                            <label class="checkbox">
                                                                <input name="only_key" type="checkbox" value="1">
                                                                отправить только код авторизации
                                                                <p class="help">Используйте, если получаете сообщение, что токен уже недействителен (почтовый робот или антиврус успели деактивировать ссылку).</p>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <input name="action" value="login_email_num" type="hidden">
                                                    <input name="check" value="TpQEE72mH8" type="hidden">
													<div class="field">
														<div class="buttons">
															<button type="submit" class="button is-link">Отправить данные для входа</button>
                                                            <a class="button is-white visible-switch" title="Дополнительные варианты для авторизации"
                                                               data-target="add_email_div"><span class='icon has-text-grey-light'><i class='fad fa-gears'></i></span>                                                                <span class="has-text-grey is-size-7">Больше вариантов</span></a>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
    </div>
    <div class="column is-4">
                <div class='mmb'>
<div id="yandex_rtb_R-A-715785-1" class="min-height-block"></div>
<script>window.yaContextCb.push(()=>{
        Ya.Context.AdvManager.render({
            renderTo: 'yandex_rtb_R-A-715785-1',
            blockId: 'R-A-715785-2'
        })
    })</script></div>    </div>
</div>
    </section>
        {% include "includes/footer.html" %}
    </div>
{% include "includes/scripts.html" %}
</body>
</html>